<a href="https://colab.research.google.com/github/ShrikantBKumbhar/shrikx_datasci/blob/main/FE_2_HandlingImbalanceDataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Handling imbalance dataset
Imbalanced data refers to those types of datasets where the target class has an uneven distribution of observations, i.e one class label has a very high number of observations and the other has a very low number of observations. 

Model will ge biased towards higest no of observations.

Resampling (Oversampling and Undersampling) - Upsampling and Downsampling with the help of this techniques imbalance data can be handeled.

Upsamping: We try to increase the data points at low no of observations.

Downdampling: We try to decrease the data poionts at hign no of observations.

In [3]:
import numpy as np
import pandas as pd

# set the random seed for reproductivity
# The numpy random seed is a numerical value that generates a new set or repeats pseudo-random numbers. The value in the numpy random seed saves the state of randomness. 
# If we call the seed function using value 1 multiple times, the computer displays the same random numbers.
# A random seed is used to ensure that results are reproducible. In other words, using this parameter makes sure that anyone who re-runs your code will get the exact same outputs.
# Reproducibility is an extremely important concept in data science and other fields.

np.random.seed()

# Create dataframe with two classes
n_samples = 1000
class_0_ratio = 0.9
n_class_0 = int(n_samples * class_0_ratio)
n_class_1 = n_samples - n_class_0

In [4]:
n_class_0, n_class_1

(900, 100)

In [5]:
# Creating dataframe with imbalanced dataset

# Generates random samples from a normal (Gaussian) distribution. When you standardize a normal distribution, the mean becomes 0 and the standard deviation becomes 1
# here in below function loc is mean and scale is std with size as no of observations we want in dataset
class_0 = pd.DataFrame ({
    'feature_1' : np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2' : np.random.normal(loc=0, scale=1, size=n_class_0),
    'target' : [0] * n_class_0 # 0 will get multiplied by 900 data points that means 900, 0s will get created
})


class_1 = pd.DataFrame ({
    'feature_1' : np.random.normal(loc=0, scale=1, size=n_class_1),
    'feature_2' : np.random.normal(loc=0, scale=1, size=n_class_1),
    'target' : [1] * n_class_1 # 0 will get multiplied by 900 data points that means 900, 0s will get created
})

In [6]:
class_0.head()

   feature_1  feature_2  target
0  -0.070739  -0.712882       0
1  -0.298528   0.427143       0
2   0.134177   0.168698       0
3   0.426005  -0.841487       0
4   1.113584   0.630461       0

In [7]:
class_1.head()

   feature_1  feature_2  target
0  -0.860394  -0.162439       1
1   0.616339  -1.223697       1
2   1.456618   0.659779       1
3  -1.363957  -1.223440       1
4   1.027141  -2.569067       1

In [8]:
# concat two dataframes, reset_index : Do not try to insert index into dataframe columns. This resets the index to the default integer index.
df = pd.concat([class_0,class_1]).reset_index(drop=True)

In [9]:
df.head()

   feature_1  feature_2  target
0  -0.070739  -0.712882       0
1  -0.298528   0.427143       0
2   0.134177   0.168698       0
3   0.426005  -0.841487       0
4   1.113584   0.630461       0

In [10]:
df.tail()

     feature_1  feature_2  target
995   1.467132  -0.043543       1
996  -0.146303  -0.778531       1
997   0.581948   0.791395       1
998  -0.183452  -0.931553       1
999  -0.631331   1.760562       1

In [11]:
df['target'].value_counts() # displays count of 0s and 1s

0    900
1    100
Name: target, dtype: int64

In [21]:
## Upsampling to increase 1s data points 

df_minority = df[df['target']==1] # it will return all 1, this dataframe will be used to upsample 1s
df_majority = df[df['target']==0] # it will return all 0, this datafrma can be used to downsample 0s

In [23]:
df_minority

     feature_1  feature_2  target
900  -0.860394  -0.162439       1
901   0.616339  -1.223697       1
902   1.456618   0.659779       1
903  -1.363957  -1.223440       1
904   1.027141  -2.569067       1
..         ...        ...     ...
995   1.467132  -0.043543       1
996  -0.146303  -0.778531       1
997   0.581948   0.791395       1
998  -0.183452  -0.931553       1
999  -0.631331   1.760562       1

[100 rows x 3 columns]

In [18]:
df_majority

     feature_1  feature_2  target
900  -0.860394  -0.162439       1
901   0.616339  -1.223697       1
902   1.456618   0.659779       1
903  -1.363957  -1.223440       1
904   1.027141  -2.569067       1
..         ...        ...     ...
995   1.467132  -0.043543       1
996  -0.146303  -0.778531       1
997   0.581948   0.791395       1
998  -0.183452  -0.931553       1
999  -0.631331   1.760562       1

[100 rows x 3 columns]

In [27]:
from sklearn.utils import resample # this will extrapolate, it will create extra points and try to match with majority points

df_minority_upsampled = resample(df_minority, replace=True, # this will resample with replacements
         n_samples = len(df_majority),
         random_state = 42 #https://www.linkedin.com/pulse/story-behind-random-state-42-kriti-biswas/
         )

In [30]:
df_minority_upsampled.shape

(900, 3)

In [40]:
df_minority_upsampled.head()

     feature_1  feature_2  target
951  -0.544774   1.758046       1
992  -1.712093   1.014627       1
914   0.737909  -0.392991       1
971  -0.105414  -0.225400       1
960   0.604219  -0.687114       1

In [41]:
df_minority_upsampled['target'].value_counts()

1    900
Name: target, dtype: int64

In [45]:
# now combine both dataframes to get balanced final data set which will have 900 0s and 900 1s 
df_upsampled = pd.concat([df_majority,df_minority_upsampled])

In [47]:
df_upsampled.shape

(1800, 3)

In [49]:
df_upsampled.head()

   feature_1  feature_2  target
0  -0.070739  -0.712882       0
1  -0.298528   0.427143       0
2   0.134177   0.168698       0
3   0.426005  -0.841487       0
4   1.113584   0.630461       0

In [51]:
df_upsampled.tail()

     feature_1  feature_2  target
952   0.912440  -1.585807       1
965  -1.791107   0.949214       1
976  -1.203627   1.594860       1
942   1.457695   2.164524       1
974   1.208574   0.142144       1

In [53]:
df_upsampled['target'].value_counts()

0    900
1    900
Name: target, dtype: int64

In [ ]:
# same way we can perform downsampling, parameter replace would be false since we are reducing the observations.