ML - Linear Regression
Step 1 - Gathering the data

In [4]:
#loading and reading the dataset

import numpy as np
import pandas as pd

data1=pd.read_csv('/content/Housing (1).csv')

In [12]:
data1.head(5) #shows data rows

#here price (y axis) is the dependent variable which need to be predicted and all other are independent variables (x)

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [11]:
data1.furnishingstatus

0           furnished
1           furnished
2      semi-furnished
3           furnished
4           furnished
            ...
540       unfurnished
541    semi-furnished
542       unfurnished
543         furnished
544       unfurnished
Name: furnishingstatus, Length: 545, dtype: object

In [6]:
data1.info() #basic details of data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             545 non-null    int64
 1   area              545 non-null    int64
 2   bedrooms          545 non-null    int64
 3   bathrooms         545 non-null    int64
 4   stories           545 non-null    int64
 5   mainroad          545 non-null    object
 6   guestroom         545 non-null    object
 7   basement          545 non-null    object
 8   hotwaterheating   545 non-null    object
 9   airconditioning   545 non-null    object
 10  parking           545 non-null    int64
 11  prefarea          545 non-null    object
 12  furnishingstatus  545 non-null    object
dtypes: int64(6), object(7)
memory usage: 55.5+ KB

In [7]:
data1.describe() #stat about data

,price,area,bedrooms,bathrooms,stories,parking
count,5.450000e+02,545.000000,545.000000,545.000000,545.000000,545.000000
mean,4.766729e+06,5150.541284,2.965138,1.286239,1.805505,0.693578
std,1.870440e+06,2170.141023,0.738064,0.502470,0.867492,0.861586
min,1.750000e+06,1650.000000,1.000000,1.000000,1.000000,0.000000
25%,3.430000e+06,3600.000000,2.000000,1.000000,1.000000,0.000000
50%,4.340000e+06,4600.000000,3.000000,1.000000,2.000000,0.000000
75%,5.740000e+06,6360.000000,3.000000,2.000000,2.000000,1.000000
max,1.330000e+07,16200.000000,6.000000,4.000000,4.000000,3.000000

Step 2 - Data Cleaning/Data preprocessing/Data wrangling - we make data suitable enough to create ML model - it will have good accuracy and performance.

If we observe the data, there are some categorial data points - ML algo not able to understand categorial variables, still we cannot drop these columns because there are important - so we will be doing technique called 'ONE HOT ENCODING' to convert categorial variables to numerical variables.

In [13]:
# ONE HOT ENCODING to convert categorial variables to numerical variables. - column wise
data1['mainroad']=data['mainroad'].apply({'yes':1,'no':0}.get) #we have assigned numerical values to identify categorial values - creating dictionary to do this - key value pair
data1['guestroom']=data['guestroom'].apply({'yes':1,'no':0}.get)
data1['basement']=data['basement'].apply({'yes':1,'no':0}.get)
data1['hotwaterheating']=data['hotwaterheating'].apply({'yes':1,'no':0}.get)
data1['airconditioning']=data['airconditioning'].apply({'yes':1,'no':0}.get)
data1['prefarea']=data['prefarea'].apply({'yes':1,'no':0}.get)
data1['furnishingstatus']=data['furnishingstatus'].apply({'unfurnished':0,'semi-furnished':1,'furnished':2}.get)

In [14]:
data1.head(10)

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,1,0,0,0,1,2,1,2
1,12250000,8960,4,4,4,1,0,0,0,1,3,0,2
2,12250000,9960,3,2,2,1,0,1,0,0,2,1,1
3,12215000,7500,4,2,2,1,0,1,0,1,3,1,2
4,11410000,7420,4,1,2,1,1,1,0,1,2,0,2
5,10850000,7500,3,3,1,1,0,1,0,1,2,1,1
6,10150000,8580,4,3,4,1,0,0,0,1,2,1,1
7,10150000,16200,5,3,2,1,0,0,0,0,0,0,0
8,9870000,8100,4,1,2,1,1,1,0,1,2,1,2
9,9800000,5750,3,2,4,1,1,0,0,1,1,1,0

Step 3- Divide the data into dependent (y axis) and independent (x axis) variables

In [15]:
# we can consider these variables in list
x=data1[['area','bedrooms','bathrooms','stories','mainroad','guestroom','basement','hotwaterheating','airconditioning','parking','prefarea','furnishingstatus']] #independent variables
y=data1['price'] #dependent variable

In [16]:
x.head()

,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,7420,4,2,3,1,0,0,0,1,2,1,2
1,8960,4,4,4,1,0,0,0,1,3,0,2
2,9960,3,2,2,1,0,1,0,0,2,1,1
3,7500,4,2,2,1,0,1,0,1,3,1,2
4,7420,4,1,2,1,1,1,0,1,2,0,2

In [17]:
y.head()

0    13300000
1    12250000
2    12250000
3    12215000
4    11410000
Name: price, dtype: int64

Step 4 - Split the data into training and testing. with the help of sklearn library

In [22]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.1)

In [23]:
x_train.shape

(490, 12)

In [24]:
y_train.shape

(490,)

In [25]:
x_test.shape

(55, 12)

In [26]:
y_test.shape

(55,)

Step 5 - Creating ML model by using Linear Regression algorithm.

In [27]:
from sklearn.linear_model import LinearRegression
lregression=LinearRegression() #variable assigned

In [28]:
lregression.fit(x_train,y_train) #Train the ML model by providing x_train and y_train as input variables.

LinearRegression()

In [43]:
pred=lregression.predict(x_test) #predict the price on test data

In [44]:
pred

array([5383964.87162282, 4742643.74071998, 3182621.76448889,
       4678197.39377203, 4707911.31575416, 5009683.6977487 ,
       4837622.50729715, 6492405.48661155, 8090284.11222951,
       4607623.52184645, 4874584.10338212, 4436471.48813803,
       2938234.38405949, 7257186.2239567 , 2772816.63970563,
       4934676.22677864, 3544058.21603759, 4031824.22367231,
       6171968.81005471, 2609764.13152452, 3390614.85267738,
       5458330.92939245, 5689416.53032373, 7470141.95049204,
       2919091.26573959, 4478434.37333298, 4436110.48643295,
       3397685.90325179, 6019876.1956994 , 2796447.43799275,
       5448972.38549563, 5218941.37829547, 5531322.56002611,
       3792181.59805232, 3752842.18889943, 3180282.55901031,
       3333658.08663516, 6956492.25830199, 6260748.40032062,
       3668599.61087875, 6364477.70814119, 3285344.76483977,
       4006452.19064916, 8120857.64044796, 3773693.19581697,
       2913254.53836589, 6003774.57043929, 5853311.31253535,
       4349468.06029548, 4233154.69549665, 2799680.09004916,
       3984038.36801959, 5637245.17197874, 3029135.14141706,
       5142604.43844268])

In [35]:
lregression.score(x,y) #check the accuracy by passing 100% of data - 67.93% accuracy

0.6793381410691877

In [90]:
##lets take a new data from user and predict the price of the house.

print('Enter below details to get approximate price of the house.')
area=int(input('Area of the house: '))
bedrooms=int(input('No of Bedrooms: '))
bathrooms=int(input('No of Bathrooms: '))
stories=int(input('No of Stories: '))
mainroad=str.lower(input('Is it near mainroad, Yes or No?: '))
guestroom=str.lower(input('Guestroom, Yes or No?: '))
basement=str.lower(input('Basement, Yes or No?: '))
hotwaterheating=str.lower(input('Hot Water Heater, Yes or No?: '))
airconditioning=str.lower(input('Airconditioner, Yes or No?: '))
parking=int(input('No of parking spaces: '))
prefarea=str.lower(input('Prefarea, Yes or No?: '))
furnishingstatus=str.lower(input('Furniture, furnished/semi-furnished/unfurnished?: '))

new_datadict={'area':area,'bedrooms':bedrooms,'bathrooms':bathrooms,'stories':stories,'mainroad':mainroad,'guestroom':guestroom,'basement':basement,'hotwaterheating':hotwaterheating,'airconditioning':airconditioning,'parking':parking,'prefarea':prefarea,'furnishingstatus':furnishingstatus}

index=[1]
new_df1=pd.DataFrame(new_datadict,index)

new_df1['mainroad']=new_df1['mainroad'].apply({'yes':1,'no':0}.get)
new_df1['guestroom']=new_df1['guestroom'].apply({'yes':1,'no':0}.get)
new_df1['basement']=new_df1['basement'].apply({'yes':1,'no':0}.get)
new_df1['hotwaterheating']=new_df1['hotwaterheating'].apply({'yes':1,'no':0}.get)
new_df1['airconditioning']=new_df1['airconditioning'].apply({'yes':1,'no':0}.get)
new_df1['prefarea']=new_df1['prefarea'].apply({'yes':1,'no':0}.get)
new_df1['furnishingstatus']=new_df1['furnishingstatus'].apply({'unfurnished':0,'semi-furnished':1,'furnished':2}.get)


prediction=lregression.predict(new_df1)
print('Approximate price of the house for provided details will be: ','$',int(prediction))

Enter below details to get approximate price of the house.
Area of the house: 4000
No of Bedrooms: 1
No of Bathrooms: 1
No of Stories: 1
Is it near mainroad, Yes or No?: no
Guestroom, Yes or No?: yes
Basement, Yes or No?: no
Hot Water Heater, Yes or No?: yes
Airconditioner, Yes or No?: yes
No of parking spaces: 2
Prefarea, Yes or No?: yes
Furniture, furnished/semi-furnished/unfurnished?: furnished
Approximate price of the house for provided details will be:  $ 6010339