<a href="https://colab.research.google.com/github/ShrikantBKumbhar/shrikx_datasci/blob/main/PWS_04_Feb_Lambda%2CMap%2CReduce%26FilterFunctions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# lambda function
n = 3
p = 2

In [ ]:
def power(n,p): #normal func
  return n**p

In [ ]:
power(3,8)

6561

In [ ]:
# A lambda function is a small anonymous function, no specific name to this func.
# A lambda function can take any number of arguments, but can only have one expression.
# this is a one liner func
# syntax: lambda arguments : expression

lambda n, p : n**p
power = lambda n,p : n**p #need to store this function in a variable to return value

In [ ]:
power(2,3) #arguments need to passed to a variavble which assigned to a lambda function

8

In [ ]:
power(10,3)

1000

In [ ]:
add = lambda x, y : x+y

In [ ]:
add(10,20)

30

In [ ]:
celtofer = lambda c : (9/5)*c+32 #celcius to farenhite

In [ ]:
celtofer(37)

98.60000000000001

In [ ]:
max = lambda a,b : a if a>b else b #max no

In [ ]:
max(10,3)

10

In [ ]:
max(2,10)

10

In [ ]:
a = "shrik"
len_st = lambda a : len(a) #length of string

In [ ]:
len_st(a)

5

***Map, Reduce and Filter functions***
1). The map() function:
The map() function or map and filter in Python (also called as map filter in Python) is a higher-order function. As previously stated, this function accepts another function and a sequence of ‘iterables’ as parameters and provides output after applying the function to each iterable in the sequence. It has the following syntax:

SYNTAX: map(function, iterables)

The function is used to define an expression which is then applied to the ‘iterables’. User-defined functions and lambda functions can both be sent to the map function.
User-defined functions can be sent to the map() method. The user or programmer is the only one who can change the parameters of these functions

In [ ]:
#normal func to square each item in list - same can be done with the help of map function as below
l1=[2,4,3,2,5]
l2=[]
def sq(l1):
  for i in l1:
    l2.append(i**2)
  return l2

In [ ]:
sq(l1)

[4, 16, 9, 4, 25]

In [ ]:
def sqr(a):
  return a**2

In [ ]:
# map func
map(sqr,l1) #this will create mapper object  - passed external function

In [ ]:
list(map(sqr,l1)) #this will return the output since output need to store in list tuble as l1 is iterable

[4, 16, 9, 4, 25]

In [ ]:
list(map(lambda b : b**2,l1)) #lambda func as a function argument

[4, 16, 9, 4, 25]

In [ ]:
# add elements of list wrt their index numbers
l3=[10,15,12,16]
l4=[4,8,5,9]

list(map(lambda x,y : x+y, l3,l4)) #no for loop need since map func iterates through iterable by default

[14, 23, 17, 25]

In [ ]:
f=lambda x,y : x+y

list(map(f, l3,l4)) #another way - passing varibale as a function in which we have stored lambda func

[14, 23, 17, 25]

In [ ]:
s1="shrik"
list(map(lambda s1 : s1.upper(),s1))

['S', 'H', 'R', 'I', 'K']

The reduce() function:

The reduce() function applies a provided function to ‘iterables’ and returns a single value, as the name implies.

SYNTAX: reduce(function, iterables)

The function specifies which expression should be applied to the ‘iterables’ in this case. 
The function tools (functools) module must be used to import this function.

reduce() function only take a func argument which is having only 2 arguments.

In [ ]:
from functools import reduce

In [ ]:
l4=[45,12,16,120] #summation of all itmes in a list

reduce(lambda x,y : x+y, l4) #since its return a result in single value no need to create a list to store output

193

In [ ]:
reduce(lambda x,y : x+y, []) #it can not work if we pass empty iterable

TypeError: ignored

In [ ]:
reduce(lambda x,y : x+y, [2]) #it will work if you pass only one element in list - it consider y as 0 by default

2

In [ ]:
l5=[10,2,16,70,120,8] #max no
reduce(lambda x,y : x if x>y else y, l5)

120

The filter() function:

The filter() function is used to generate an output list of values that return true when the function is called. It has the following syntax:

SYNTAX: filter (function, iterables)

This function like map(), can take user-defined functions and lambda functions as parameters.

In [ ]:
l6=[10,15,12,84,125,12,6,2,3,10,5,7] #find out even no from list
list(filter(lambda x : x%2==0, l6))

[10, 12, 84, 12, 6, 2, 10]

In [ ]:
list(filter(lambda x : x%2!=0, l6)) #find out odd no from list

[15, 125, 3, 5, 7]

In [ ]:
list(filter(lambda x : x>10, l6)) #greater than 10

[15, 12, 84, 125, 12]

In [ ]:
l7=[10,15,-12,84,-125,12,6,-2,3,10,-5,7]

In [ ]:
list(filter(lambda x : x<0, l7)) #-ve numbers

[-12, -125, -2, -5]

In [ ]:
l8=["shriks","ovaa","john","jenifer","pwskills","ineuron", "shrik"]

In [ ]:
list(filter(lambda x : len(x)<5,l8)) #string wiht less than 5 length

['ovaa', 'john']